body{
    font-family: 'Pacifico', cursive;
    background-color: #a8a3a2;
}

.header_div{
    background: rgb(97, 96, 96);
    color: white;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #b5b9b4;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}